@charset "utf-8";
.mainTitle {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #666;
	font-weight: bold;
	color: #CCC;
	text-align: center;
	padding: 0.8em;
	font-size: xx-large;
	font-style: normal;
}
.screenMenu_Message {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	font-weight: bold;
	color: #000;
	text-align: center;
	padding-top: 5em;
}

#fatman {
	display: block;
	margin-left: auto;
	margin-top: 50px;
    margin-right: auto;
	margin-bottom: 50px;
}

#message {
	font-size: xx-large;
	font-weight: bold;
	color: brown;
	text-align: center;
}